{{> header}}
    <div class="master-container">
        <h1 class="whole-story-intro">About us</h1>
        <div class="about-us-body">
            The One Word Story was brought to you by Team 3dom!!
            <div class="names-list">
                <div class="card">
                    <img src="https://avatars.githubusercontent.com/u/85871720?v=4" alt="Zoe at the beach">
                    <a href="https://github.com/zoe-joblin"><h2>Zoe</h2></a>
                    <p>Fave emoji: 😂</p>
                </div>
                <div class="card">
                    <img src="https://avatars.githubusercontent.com/u/64079938?v=4" alt="Selfie of Kang">
                    <a href="https://github.com/gawk2333"><h2>Kang</h2></a>
                    <p>Fave emoji: 🤗</p>
                </div>
                <div class="card">
                    <img src="https://avatars.githubusercontent.com/u/17734388?v=4" alt="Wind swept golden locks Patrick">
                    <a href="https://github.com/patrick-j-sulley"><h2>Patrick</h2></a>
                    <p>Fave emojis: 💪😎🤳</p>
                </div>
                <div class="card">
                    <img src="https://avatars.githubusercontent.com/u/74956308?s=400&u=6238c5177d4396d6b902e8e8e860c7fb58e5c86e&v=4" alt="Jordan having just hiked something">
                    <a href="https://github.com/Jordy1311"><h2>Jordan</h2></a>
                    <p>Fave emoji: 🤌</p>
                </div>
            </div>
        </div>
    </div> 
{{> footer}}