  {{> header }}
  <div class="master-container">
<div class="title">The one word story</div>
<div class="explaination">This is the explaination!</div>
<div class="story">{{story}}</div>
<form action="/" method="post" class="input">
  <input id="input" type="text">
  <button id="submit" name="submit" type="submit">Submit</button>
</form>
  </div> 
  {{> footer }}