* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html,body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  width: 100%;
  min-height: 100%;
  background-color: blanchedalmond;
  background-size: cover;
}

.master-container {
  margin: auto;
  padding-bottom: 20px;
  width: 90vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a
{
  color: black;
  float: right;
  margin-left: 30px;
}

.home {
  margin: 10px;
}

.title
{
  margin-top: 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 4rem;
  text-align: center;
}

.explaination
{
  margin: 0 auto;
  width: 70vw;
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.explaination li {
  list-style-type: disc;
}

.input-container {
  margin: 30px;
  display: flex;
  justify-content: center;
}

#input
{
  font-size: 1.5rem;
  width: 300px;
  height: 30px;
}

.story
{
  font-family: 'Indie Flower', cursive;
  color: #333;
  font-size: 2.5rem;

  margin: 0 auto;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.story {
  text-align: center;
}

button
{
  width: 80px;
  height: 35px;
  float: right;
  margin-left: 20px;
  background-color: #5a5a5a;
  color:#fff;
  border-radius: 30px;
}

button:hover
{
  background-color: #003C9d;
  border-radius: 10px;
  cursor: pointer;
}

.footer
{
  margin:0 auto;
  position: absolute;
  width: 100%;
  height: 20px;
  text-align: center;
  bottom: 0;
}

.wholestory
{
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
