* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html,body {
  font-family: Helvetica, sans-serif, Arial;
  color: #333;
  width: 100%;
  min-height: 100%;
  background-color: #e3e3e3;
  background-size: cover;
}

.master-container {
  margin: auto;
  padding-bottom: 20px;
  width: 90vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a
{
  color: black;
  float: right;
  margin-left: 30px;
}

header {
  margin: 10px;
  margin-top: 20px;

  display: flex;
  align-items: center;
}
.nav {
  margin-left: auto;
  margin-right: 20px;
}
.title {
  margin-left: 20px;
  font-family: Georgia, serif;
  font-size: 2rem;
}

.explaination {
  margin: 80px auto 30px;
  font-size: 1.25rem;

  width: 70vw;
  max-width: 600px;

  text-align: center;
}

.story {
  font-family: Georgia, serif;
  font-size: 2rem;
  
  margin: 0 auto;
  height: 150px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.whole-story-intro {
  font-family: Georgia, serif;
  margin: 50px auto 0;
}
.whole-story {
  font-family: Georgia, serif;
  font-size: 1.25rem;
  line-height: 35px;
  margin: 50px auto 0;
  width: 70vw;
  max-width: 700px;
}

form {
  display: flex;
  align-items: center;
}
#input {
  font-size: 1.25rem;
  width: 400px;
  height: 30px;
  padding-left: 5px;
}
button {
  margin: 20px;
  width: 60px;
  height: 30px;

  color: #333;
}

.about-us-body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  font-size: 1.25rem;
  margin: 30px auto;
}
.names-list {
  margin: 50px auto;
  text-align: center;
  display: flex;
}
.card {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 150px;
  border-radius: 50%;
}
.card a {
  text-align: center;
}

.footer {
  margin:auto;
  position: absolute;
  bottom: 10px;

  width: 100%;
  height: 20px;
  text-align: center;
}

